Resources:
  ServicesTable:
    Type: AWS::DynamoDB::Table
    Properties:
      KeySchema:
        HashKeyElement:
          AttributeName:
            Fn::GetOptionSetting:
              OptionName : ServicesHashName
              DefaultValue: "providerId"
          AttributeType:
            Fn::GetOptionSetting:
              OptionName : ServicesHashType
              DefaultValue: "S"
      ProvisionedThroughput:
        ReadCapacityUnits:
          Fn::GetOptionSetting:
              OptionName : ServicesReadCapacityUnits
              DefaultValue: 1
        WriteCapacityUnits:
          Fn::GetOptionSetting:
              OptionName : ServicesWriteCapacityUnits
              DefaultValue: 1
  SongsTable:
    Type: AWS::DynamoDB::Table
    Properties:
      KeySchema:
        HashKeyElement:
          AttributeName:
            Fn::GetOptionSetting:
              OptionName : SongsHashName
              DefaultValue: "userId"
          AttributeType:
            Fn::GetOptionSetting:
              OptionName : SongsHashType
              DefaultValue: "S"
        RangeKeyElement:
          AttributeName:
            Fn::GetOptionSetting:
              OptionName : SongsRangeName
              DefaultValue: "songId"
          AttributeType:
            Fn::GetOptionSetting:
              OptionName : SongsRangeType
              DefaultValue: "S"
      ProvisionedThroughput:
        ReadCapacityUnits:
          Fn::GetOptionSetting:
              OptionName : SongsReadCapacityUnits
              DefaultValue: 1
        WriteCapacityUnits:
          Fn::GetOptionSetting:
              OptionName : SongsWriteCapacityUnits
              DefaultValue: 1
  UsersTable:
    Type: AWS::DynamoDB::Table
    Properties:
      KeySchema:
        HashKeyElement:
          AttributeName:
            Fn::GetOptionSetting:
              OptionName : UsersHashName
              DefaultValue: "userId"
          AttributeType:
            Fn::GetOptionSetting:
              OptionName : UsersHashType
              DefaultValue: "S"
      ProvisionedThroughput:
        ReadCapacityUnits:
          Fn::GetOptionSetting:
              OptionName : UsersReadCapacityUnits
              DefaultValue: 1
        WriteCapacityUnits:
          Fn::GetOptionSetting:
              OptionName : UsersWriteCapacityUnits
              DefaultValue: 1