Resources:
  CredentialsTable:
    Type: AWS::DynamoDB::Table
    Properties:
      KeySchema:
        HashKeyElement:
          AttributeName: "providerId"
          AttributeType: "S"
      ProvisionedThroughput:
        ReadCapacityUnits: 1
        WriteCapacityUnits: 1
  SongsTable:
    Type: AWS::DynamoDB::Table
    Properties:
      KeySchema:
        HashKeyElement:
          AttributeName: "userId"
          AttributeType: "S"
        RangeKeyElement:
          AttributeName: "songId"
          AttributeType: "S"
      ProvisionedThroughput:
        ReadCapacityUnits: 1
        WriteCapacityUnits: 1
  UsersTable:
    Type: AWS::DynamoDB::Table
    Properties:
      KeySchema:
        HashKeyElement:
          AttributeName: "userId"
          AttributeType: "S"
      ProvisionedThroughput:
        ReadCapacityUnits: 1
        WriteCapacityUnits: 1
  WorkerStream
    Type: AWS::Kinesis::Stream
    Properties:
      ShardCount: 1

files:
  "/var/app/app.config":
    mode: "000444"
    content: |
      `{"Ref" : "CredentialsTable"}`
      `{"Ref" : "AWS::Region"}`