files:
  "/home/ec2-user/app.yaml":
    mode: "000444"
    content: |
        staging:
            AWS_REGION: "`{"Ref" : "AWS::Region"}`"
            DYNAMODB_TABLE_CREDENTIALS: "`{"Ref" : "CredentialsTable"}`"
            DYNAMODB_TABLE_USERS: "`{"Ref" : "UsersTable"}`"
            DYNAMODB_TABLE_SONGS: "`{"Ref" : "UsersTable"}`"