option_settings:
    - namespace: aws:elasticbeanstalk:container:nodejs
      option_name: NodeCommand
      value: "node ./dist/src/main.js api"
    - namespace: aws:elb:loadbalancer
      option_name: LoadBalancerHTTPPort
      value: OFF
    - namespace: aws:elb:loadbalancer
      option_name: LoadBalancerHTTPSPort
      value: 443
    - namespace: aws:elb:loadbalancer
      option_name: SSLCertificateId
      value: arn:aws:iam::711231113371:server-certificate/dropplayer
    - namespace: aws:autoscaling:launchconfiguration
      option_name: IamInstanceProfile
      value: drop-ec2-role