option_settings:
    "aws:elasticbeanstalk:customoption":
        CredentialsHashName: "providerId"
        CredentialsHashType: "S"
        CredentialsReadCapacityUnits: 1
        CredentialsWriteCapacityUnits: 1
        SongsHashName: "userId"
        SongsHashType: "S"
        SongsRangeName: "songId"
        SongsRangeType: "S"
        SongsReadCapacityUnits: 1
        SongsWriteCapacityUnits: 1
        UsersHashName: "userId"
        UsersHashType: "S"
        UsersReadCapacityUnits: 1
        UsersWriteCapacityUnits: 1