option_settings:
    # Node
    - namespace: aws:elasticbeanstalk:container:nodejs
      option_name: NodeCommand
      value: "node ./dist/src/main.js api"
    # Elastic Load Balancer
    - namespace: aws:elb:loadbalancer
      option_name: LoadBalancerHTTPSPort
      value: 443
    - namespace: aws:elb:loadbalancer
      option_name: SSLCertificateId
      value: arn:aws:iam::711231113371:server-certificate/dropplayer
    # Autoscaling
    - namespace: aws:autoscaling:launchconfiguration
      option_name: IamInstanceProfile
      value: arn:aws:iam::711231113371:instance-profile/drop-ec2-role
    # Enviroment Variables
    - namespace: aws:elasticbeanstalk:application:environment
      option_name: NODE_ENV
      value: staging
    - namespace: aws:elasticbeanstalk:application:environment
      option_name: DROP_CONFIG
      value: "/tmp/app.yaml"
    # Dynamo Db Options
    - namespace: aws:elasticbeanstalk:customoption
      option_name: ServicesHashName
      value: providerId
    - namespace: aws:elasticbeanstalk:customoption
      option_name: ServicesHashType
      value: S
    - namespace: aws:elasticbeanstalk:customoption
      option_name: ServicesReadCapacityUnits
      value: 1
    - namespace: aws:elasticbeanstalk:customoption
      option_name: ServicesWriteCapacityUnits
      value: 1
    - namespace: aws:elasticbeanstalk:customoption
      option_name: SongsHashName
      value: userId
    - namespace: aws:elasticbeanstalk:customoption
      option_name: SongsHashType
      value: S
    - namespace: aws:elasticbeanstalk:customoption
      option_name: SongsRangeName
      value: songId
    - namespace: aws:elasticbeanstalk:customoption
      option_name: SongsRangeType
      value: S
    - namespace: aws:elasticbeanstalk:customoption
      option_name: SongsReadCapacityUnits
      value: 1
    - namespace: aws:elasticbeanstalk:customoption
      option_name: SongsWriteCapacityUnits
      value: 1
    - namespace: aws:elasticbeanstalk:customoption
      option_name: UsersHashName
      value: userId
    - namespace: aws:elasticbeanstalk:customoption
      option_name: UsersHashType
      value: S
    - namespace: aws:elasticbeanstalk:customoption
      option_name: UsersReadCapacityUnits
      value: 1
    - namespace: aws:elasticbeanstalk:customoption
      option_name: UsersWriteCapacityUnits
      value: 1
    # Elastic Cache Options
    - namespace: aws:elasticbeanstalk:customoption
      option_name: CacheNodeType
      value: cache.t2.micro
    - namespace: aws:elasticbeanstalk:customoption
      option_name: NumCacheNodes
      value: 1
    - namespace: aws:elasticbeanstalk:customoption
      option_name: Engine
      value: redis